h1{
    color: black;
    text-align: center;
}

h1:hover{
    color: salmon;
}

body {
    background:lightgray;
    font-family:Arial, Helvetica, sans-serif;
}

.assignments {
    display: flex;
    flex-wrap: wrap;

}

.assignment {
    width: 28%;  
    padding:15px;
    margin:10px;
    background: lightsteelblue;
    border-radius: 25px;
    
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}


.assignment img {
    max-width:200px;
    margin: 20px;
    border: 2px solid black;
    display: block;
    margin: auto;
}

.assignment img:hover {
    border: 2px solid salmon;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: salmon;
}

